.transaction_history {
  color: black;
  width: 500px;
  border-collapse: collapse;
  border: 1px solid grey;
  text-align: center;
  margin: auto auto;
}

th {
  border: 1px solid grey;
  background-color: #00bcd4;
  color: white;
  font-weight: 600;
  font-size: 15px;
  padding: 5px 0 5px 0;
}

td {
  border: 1px solid grey;
  font-weight: 300;
  font-size: 13px;
  padding: 5px 0 5px 0;
}

tr:nth-child(2n) {
<<<<<<< HEAD
  background-color: rgb(207, 202, 202);
=======
  background-color: rgb(255, 255, 137);
>>>>>>> 1e04f85da5e7d26bd1d5f33739f3fc54d5c2697a
}
